@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap'); 

ul {
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

.body{
    background-color: #fbeee2;
    background-image: url(/img/banner-viajes.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}

.tituloPresupuestador{
    font-size: 3.56rem;
    line-height: 110%;
    font-family: 'Marcellus', serif;
}

.tituloPresupuestador, p {
    text-align: center;
    font-family: 'Marcellus', serif;
}

.mainPadre{
    height: 20vh;
    margin-top: 2vh;
    background-color: #fbeee2;
}

.mainHijo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.formPresupuesto {
    text-align: center;
    width: 99%;
    background-color: #1a1c21;
    padding: 20px;
    color: rgb(232, 227, 227);
    border-radius: 20px;
}
.formPresupuesto input::placeholder {
    width: 15em;
    margin: 3px;
    height: 2em;
    color: #050505;
}

.btnCalcular{
    background-color: rgba(232, 227, 227, 0);
    border-radius: 10px 0 10px 0;
    margin: 2em 1em;
    width: 60%;
    height: 40px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #212529;
}
button a:hover{
    text-decoration: none;
    color: #fff;
}


.divAux{
    margin-top: 10vh !important;
    background-color: #efd9ce;
    border-radius: 80px 80px 0 0;
}

.swal2-styled.swal2-confirm{
    background-color: #141619;
}

.swal2-styled.swal2-confirm:hover{
    background-color: #eaefff;
    color: #212529;
    border: solid 2px #212529;
};

.container404{
    width:1300px
}

.page_404{ 
    padding:40px 0; 
    background:#fbeee2; 
    font-family: Arial, Helvetica, sans-serif;
    
}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    width:102vw;
}
h1{
    font-size:80px;
    overflow-y: hidden;
}
.contant_box_404 {
    margin-top: -50px;
    width: 102vw;
}
.h3{
    overflow-y: hidden;
}

.link_404{      
    color: #212529!important;
    padding: 10px 20px;
    background: #efd9ce;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

.contant_box_404{ 
    margin-top:-36px;  
}

.toastify {
    padding: 12px 20px;
    padding-top: 20px;
    color: #fff;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,.12),0 10px 36px -4px rgba(77,96,232,.3);
    background: -webkit-linear-gradient(315deg,#73a5ff,#5477f5);
    background: linear-gradient(135deg,#73a5ff,#5477f5);
    position: fixed;
    opacity: 0;
    transition: all .4s cubic-bezier(.215, .61, .355, 1);
    border-radius: 200px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    max-width: calc(50% - 20px);
    z-index: 2147483647;
    width: 200px;
    height: 10vh;
    bottom: 78px;
}

.h2Usuarios{
    text-align: center;
    background-color: #003a73;
    border-radius:  400px 400px 0 0;
    width: 28%;
    margin-left: 35.6%;
    color: #fff;
    padding-bottom: 5px;
    font-weight: 600;
}

.h2Usuarios:hover{
    background-color: #fff;
    border-radius:  400px 400px 0 0;
    width: 28%;
    margin-left: 35.6%;
    color: #003a73;
    transition: 0.5s;
}

.listaDeUsuarios{
    text-align: center;
    list-style: none;
    background-color: #003a73;
    border-radius: 0  0  100px 100px;
    width: 23%;
    margin-left: 38.2%;
    color: #eaefff;
    font-weight: 600;
    padding-bottom: 5px;
}

.h3Usuarios{
    text-align: center;
    background-color: #fff ;
    border-radius:  0 0 400px 400px;
    width: 28%;
    margin-left: 35.6%;
    color: #003a73;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 1rem;
}

.h3Usuarios span{
    font-weight: bold;
}

.h3Usuarios:hover{
    background-color:#003a73;
    border-radius:  0 0 400px 400px;
    width: 28%;
    margin-left: 35.6%;
    color: #fff;
    transition: 0.5s;
}

.mainCarrito{
background-color: #ececec;
margin: 1rem;
margin-left: 0;
border-radius: 2rem;
padding: 3rem;
}
.contenedor-carrito {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #309dc0;;
}


aside {
    padding: 2rem;
    padding-right: 0;
    color: #ececec;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.logoCarrito{
    font-weight: 400;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ececec;
}

.logoCarrito:hover {
    background-color: #ececec;
    color: #309dc0;
    border-radius: 10px;
    padding: 2px;
}

.botonMenuCarrito, .botonVolverCarrito {
    background-color: transparent;
    border: 0;
    color: #ececec;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.botonVolverCarrito:hover {
    color: #309dc0;
    border: 0;
    background-color: #ececec;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: 5px;
}



.botonMenuCarrito.active {
    background-color: #ececec;
    color: #309dc0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.botonMenuCarrito.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #ececec;
}

.botonMenuCarrito.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #ececec;
}



.textoFooterCarrito {
    color: #ececec;
    font-size: .85rem;
}

.tituloCarrito {
    color:#309dc0;
    margin-bottom: 2rem;
}

.contenedorCarrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carritoVacio,
.carritoComprado {
    background-color: #309dc0;
    color: #e2e2e2;
    font-size: 1.5rem;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 50%;
}

.carritoProductos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carritoProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
    color:#309dc0;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carritoProductoImagen {
    width: 20rem;
    border-radius: 1rem;
}

.carritoProducto small {
    font-size: .75rem;
}

.carritoProductoEliminar {
    border: 0;
    background-color: transparent;
    color:#961818;
    cursor: pointer;
}

.carritoAcciones {
    display: flex;
    justify-content: space-between;
}

.carritoAccionesVaciar {
    border: 0;
    background-color:#e2e2e2;
    padding: 1rem;
    border-radius: 1rem;
    color: #309dc0;
    text-transform: uppercase;
    cursor: pointer;
}

.carritoAccionesDerecha {
    display: flex;
}

.carritoAccionesTotal {
    display: flex;
    background-color:#e2e2e2;
    padding: 1rem;
    color: #309dc0;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carritoAccionesComprar {
    border: 0;
    background-color: #309dc0;
    padding: 1rem;
    color: #ececec;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}

.divForm{
    margin-left: 176px;
    margin-top: 70px;
    margin-bottom: 30px;

}
.field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    color: #777;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
  }